$backgroundColor: #fff;
$boxShadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$backgroundAppColor: #a0b0b9;

.ticket {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 502px;
  height: 184px;
  margin: 0 0 18px 0;
  border-radius: 5px;
  box-shadow: $boxShadow;
  background-color: $backgroundColor;
}
.ticket__price {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 24px;
  color: #2196f3;
  margin-top: 0;
}
.ticket__direction {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: auto;
}
.title {
  color: $backgroundAppColor;
  font-size: 13px;
  font-weight: 600;
}
.ticket__part {
  width: 22%;
}
.ticket__info {
  font-weight: 600;
  font-size: 14px;
}
