$appColor: #f3f7fa;
$backgroundAppColor: #e5e5e5;
$backgroundColor: #fff;
$backgroundFooter: #2196f3;
$boxShadow: 0 2px 8px rgba(0, 0, 0, 0.1);

body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: $backgroundAppColor !important;
  margin: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 960px;
  background-color: $appColor;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 10px 0;
}
.App__wrapper {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.App__container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 502px;
  margin-right: 103px;
  margin-left: auto;
}
.App {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
