$backgroundColor: #fff;
$boxShadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$backgroundAppColor: #a0b0b9;

.ticket__direction {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: auto;
}
.title {
  color: $backgroundAppColor;
  font-size: 13px;
  font-weight: 600;
}
.ticket__part {
  width: 22%;
}
.ticket__info {
  font-weight: 600;
  font-size: 14px;
}
